@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

 .navbar-nav li, .loginai li {
 	float:left;
    padding-left: 15px;
    list-style-type: none;
 }

 html, body {
                background-color: #fff;
                color: #636b6f;
                font-family: 'Raleway', sans-serif;
                font-weight: 300;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }

.shadow {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
max-width:calc(33.33% - 60px) !important;
}

.shadow-images {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.movie-image {
    height: 250px;
    overflow: hidden;
}

.movie-image img {
    object-fit: cover;
    height:300px;
}

.movie-image-inside img {
    object-fit: cover;
    height:200px;
}

.no-gutters {
    padding-left: 0px;
    padding-right: 0px;
}

.movies-inside-border {
    border: 1px solid grey;
}

.title-bar {
    background-color: #044389;
    color:white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sidebar-borderis {
    border:1px solid #044389;
    padding:30px;
}

.sidebar-borderis h3 {
    color: #044389;
}

.sidebar-borderis ul {
    list-style-image: url('http://imdb.app/storage/photo/li.png');
}

.fb-login {
    text-align: center;
}

.footer {
    background-color: black;
    color:white;
    height:50px;
    text-align: center;
    line-height: 50px;
}

.sidebar-images {
    height: 55px;
    overflow: hidden;
}

.sidebar-images img {
    object-fit: cover;
    height:75px;
}